@(message: String)

@if( !message.equals("") ) {
    @message
} else {
    <?xml version="1.0" encoding="utf-8"?>
    <list>
        <item>
            <dl> http://ki.pwr.edu.pl/cichon/2014_15_a/Grafika/Zadania/GrafikaZadania2014.pdf </dl>
            <name> Grafika komputerowa </name>
            <number> 1 </number>
        </item>
        <item>
            <dl> http://prac.im.pwr.wroc.pl/~klonowsk/FILES/Nlab1.pdf </dl>
            <name> Kombinatoryka analityczna </name>
            <number> 1 </number>
        </item>
        <item>
            <dl> http://prac.im.pwr.wroc.pl/~klonowsk/FILES/Nlab2.pdf </dl>
            <name> Kombinatoryka analityczna </name>
            <number> 2 </number>
        </item>
        <item>
            <dl> http://prac.im.pwr.wroc.pl/~klonowsk/FILES/Nlab3.pdf </dl>
            <name> Kombinatoryka analityczna </name>
            <number> 3 </number>
        </item>
    </list>
}
